<template>
	
	<div>

		<div class="content-panel">

			<div class="content-panel-toggles">

				<router-link class="content-panel-toggle" to="userinfo">
					<span><img src="@/assets/static.apberget.se/images/icons/short.png"></span>
					<span>Kort</span>
				</router-link>

				<router-link class="content-panel-toggle" to="?bio=long">
					<span><img src="@/assets/static.apberget.se/images/icons/long.png"></span>
					<span>Utförlig</span>
				</router-link>

			</div>

		</div>
	
		<div class="content-main">

            <div class="content-main-column expand" v-if="!$route.query.bio">

                <div class="content-main-box">
                    <div class="content-main-box-header">
                        Användarinfo
                    </div>
                    <div class="content-main-box-body">
                        Short bio!
                    </div>
                </div>

            </div>

            <div v-if="$route.query.bio === 'long'">
                Long bio!
            </div>


		</div>

	</div>

</template>