<template>
	
	<div>

		<div class="content-panel">

            <div class="content-panel-toggles">

                <router-link class="content-panel-toggle" to="guestbook">
                    <span><img src="@/assets/static.apberget.se/images/icons/short.png"></span>
                    <span>Gästboken</span>
                </router-link>

                <router-link class="content-panel-toggle" to="sent">
                    <span><img src="@/assets/static.apberget.se/images/icons/long.png"></span>
                    <span>Skickade</span>
                </router-link>

            </div>

		</div>
	
		<div class="content-main">

            <div class="content-main-column expand">

                <div class="content-main-box">

                    <div class="content-main-box-header">Gästboksinlägg ({{ guestbookEntries.length }} totalt)</div>

                    <div class="content-main-box-body">

                        <div class="guestbook-entry new" v-for="item in guestbookEntries">

                            <div class="guestbook-entry-info">
                                <img class="user-avatar" src="@/assets/static.apberget.se/images/panel/no_user_30_40.png">
                                <a href="#">{{ item.username }}</a><br>
                                <span class="time">idag 12.00</span><br>
                                <a href="#"><span class="icon-hover togb"></span></a>
                                <a href="#"><span class="icon-hover history"></span></a>
                            </div>

                            <div class="guestbook-entry-body">{{ item.text }}</div>

                            <div class="guestbook-entry-tools">
                                <button class="old">Besvara</button>
                                <span></span>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

		</div>

	</div>

</template>

<script>

	export default {

	    name: 'user-guestbook',

	    data(){

	        return {

	            guestbookEntries: [
					{
					    id: 1,
						username: 'Hello',
						text: 'World'
					}
				]

			}

		}

	}

</script>

<style lang="scss" scoped>

    .guestbook-entry {

        padding: 5px;

        display: flex;

        flex-wrap: wrap;

        // &:not(:last-child){
        border-bottom: 1px solid #ddddcc;
        // }

        &.new {
            background-color: #ffffee;
        }


    }


    .guestbook-entry-info {

        width: 160px;

        // padding-left: 3px;

        .user-avatar {
            float: left;
            margin-right: 5px;
        }

        .time {
            font: 10px verdana;
        }

    }

    .guestbook-entry-body {
        flex-grow: 1;
    }

    .guestbook-entry-tools {
        width: 100%;
        text-align: right;
    }

</style>