<template>
	<router-view></router-view>
</template>

<script>

	export default {

		name: 'Cave',

		mounted(){
			console.log('cave', this);
		},

		/*
		data(){

			return {

				submenu: [
					{ url: '/main/cave/profile', 	text: 'Din profil' },
					{ url: '/main/cave/supporter', 	text: 'Supporter'},
					{ url: '/main/cave/friendwhat', text: 'Vänbevakning'},
					{ url: '/main/cave/visitors', 	text: 'Besökslogg'},
					{ url: '/main/cave/messages', 	text: 'Meddelanden'},
					{ url: '/main/cave/settings', 	text: 'Inställningar'}
				]

			};
		}
		*/

	}

</script>