<template>

	<div>

		<div class="content-tabs">

			<router-link :to="item.url" v-for="item in tabs" :key="item.url">{{ item.text }}</router-link>

		</div>

		<div class="content-wrapper">

			<div class="content-tabs-padding"></div>

			<slot />

		</div>

	</div>

</template>

<script>

	export default {

		props: ['tabs']

	}

</script>