* {
  box-sizing: border-box;
  font-smooth: never;
  -webkit-font-smoothing: none;
  /* text-shadow: 0 0 0; */ }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-365deg); } }
@keyframes clouds {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: 256px 0px; } }
html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial;
  font-size: 12px; }

a {
  text-decoration: none; }

p {
  padding: 4px 0px;
  margin: 0px;
  line-height: 14px; }

table th, table td {
  text-align: left; }

ul {
  margin: 0;
  padding: 0 8px; }

ol {
  margin: 0;
  padding: 0 16px; }

ul.nobullets li {
  list-style-type: none; }

ul.notice, ol.notice {
  margin: 4px 0px 4px 0px;
  padding: 4px 8px;
  border-style: solid;
  border-width: 2px;
  border-color: #69c; }

li, ul.notice li, ol.notice li {
  margin-left: 1em;
  padding: 1px 0px; }

ul, ul.notice li, ul.error li {
  list-style-type: square;
  line-height: 1.2em;
  font-weight: normal; }

ul.error, ol.error {
  margin: 4px 0px 4px 0px;
  padding: 4px 8px;
  border-style: solid;
  border-width: 2px;
  font-weight: bold; }

ul.error li, ol.error li {
  color: #000;
  margin-left: 1em;
  padding: 1px 0px; }

.input {
  /* box-shadow: inset 3px 3px 4px rgba(0,0,0,.3); */
  padding: 2px; }

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  /*
  width: 1024px;
  height: 768px;
  overflow-y: scroll;
  */ }

.layout-weather {
  height: 90px;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  /* border-bottom: 1px solid #49490d; */ }

.layout-menu {
  height: 20px;
  /* background-image: url(./static.apberget.se/images/themes/0/menu.png); */ }

.layout-main {
  display: flex;
  flex-grow: 1;
  max-height: calc( 100vh - 110px ); }

.layout-left {
  width: 190px;
  flex-shrink: 0;
  overflow: hidden; }

.layout-content {
  width: 600px;
  flex-shrink: 0;
  overflow-y: auto;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.3); }

.layout-right {
  flex-grow: 1;
  background-repeat: repeat-y;
  padding: 8px;
  overflow: hidden; }

.layout-weather.day {
  background: linear-gradient(#cce4ff, #fdfeea); }
  .layout-weather.day .weather-hut {
    background-image: url(/static.apberget.se/images/palms/hut_day.png); }

.layout-weather.night {
  background-color: linear-gradient(#303161, #6265ce);
  background-image: url(/static.apberget.se/images/palms/night.png); }
  .layout-weather.night .weather-hut {
    background-image: url(/static.apberget.se/images/palms/hut_night.png);
    background-color: #f00; }
  .layout-weather.night .weather-clouds {
    opacity: .2; }

.weather-palms {
  background-image: url(/static.apberget.se/images/palms/palms.png);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 750px;
  height: 90px; }

.weather-clouds {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 90px;
  animation: clouds 90s linear infinite; }
  .weather-clouds.light {
    background-image: url(/static.apberget.se/images/weather/clouds_light.png); }
  .weather-clouds.medium {
    background-image: url(/static.apberget.se/images/weather/clouds_medium.png);
    background-color: #f00; }

.weather-hut {
  position: absolute;
  top: 64px;
  left: 732px;
  width: 25px;
  height: 26px;
  /* background-image: url(static.apberget.se/images/palms/igloo_night.png); */ }

.logo {
  background: url(/static.apberget.se/images/logo/15p.png); }

.panel {
  display: flex;
  padding: 0 3px; }

.panel-icons {
  display: flex; }

.panel-icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
  background-position: center center;
  background-repeat: no-repeat; }
  .panel-icon.messages {
    background-image: url(/static.apberget.se/images/panel/messages.png); }
  .panel-icon.messages.highlight {
    background-image: url(/static.apberget.se/images/panel/messages_hi.png); }
  .panel-icon.guestbook {
    background-image: url(/static.apberget.se/images/panel/guestbook.png); }
  .panel-icon.guestbook.highlight {
    background-image: url(/static.apberget.se/images/panel/guestbook_hi.png); }
  .panel-icon.friends {
    background-image: url(/static.apberget.se/images/panel/friends.png); }
  .panel-icon.friends.highlight {
    background-image: url(/static.apberget.se/images/panel/friends_hi.png); }
  .panel-icon.activities {
    background-image: url(/static.apberget.se/images/panel/activities.png); }
  .panel-icon.activities.highlight {
    background-image: url(/static.apberget.se/images/panel/activities_hi.png); }
  .panel-icon.groups {
    background-image: url(/static.apberget.se/images/panel/groups.png); }
  .panel-icon.groups.highlight {
    background-image: url(/static.apberget.se/images/panel/groups_hi.png); }

.panel-icon .badge {
  display: block;
  background: #cd0e16;
  border-radius: 32px;
  font-family: arial;
  font-size: 9px;
  text-align: center;
  color: #fff;
  width: 15px;
  height: 15px;
  line-height: 14px;
  position: relative;
  top: 12px;
  left: 14px; }

.panel-refresh {
  flex-grow: 1;
  text-align: right;
  padding: 6px 6px; }

/*
.template {
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(/static.apberget.se/template.png);
	width: 1280px;
	height: 802px;
	opacity: 0.6;
}
*/
.left-status {
  padding: 2px 0 0 8px; }
  .left-status .time {
    font-family: verdana;
    font-size: 9px;
    float: right;
    padding-top: 2px;
    padding-right: 8px; }

.button-icon {
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: middle; }
  .button-icon.refresh {
    background-image: url(/static.apberget.se/images/panel/reload.png);
    /* animation: spin 1s infinite linear; */ }
  .button-icon.search {
    background-image: url(/static.apberget.se/images/icons/search.png); }
  .button-icon.add {
    background-image: url(/static.apberget.se/images/icons/add.gif); }

.icon-hover {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: -2px; }
  .icon-hover.edit {
    background: url(/static.apberget.se/images/icons/rollovers/edit.png); }
  .icon-hover.togb {
    width: 24px;
    background: url(/static.apberget.se/images/icons/rollovers/togb.png); }
  .icon-hover.history {
    background: url(/static.apberget.se/images/icons/rollovers/history.png); }
  .icon-hover.album {
    background: url(/static.apberget.se/images/icons/rollovers/album.png); }
  .icon-hover.diary {
    background: url(/static.apberget.se/images/icons/rollovers/post.png); }
  .icon-hover.screen {
    background: url(/static.apberget.se/images/icons/rollovers/screen.png); }
  .icon-hover.openlink {
    background: url(/static.apberget.se/images/icons/rollovers/openlink.png); }

a:hover > .icon-hover {
  background-position: 0 -20px; }

a:active > .icon-hover {
  background-position: 0 -40px; }

.friends-list {
  padding: 0 6px; }

.friends-display {
  font-size: 10px; }

.friends-items {
  display: flex;
  flex-wrap: wrap; }

.friends-items a {
  display: block;
  margin: 0 1px 1px 0; }

.friends-items a img {
  display: block;
  vertical-align: bottom; }

.friends-tools {
  padding: 20px; }

.account-search {
  display: flex;
  align-items: center; }

.account-balance {
  color: #333333;
  text-align: center;
  padding: 0 20px;
  font-size: 10px; }

.account-balance-value {
  color: #0000ff; }

.search-form {
  font-size: 14px; }

.search-form input {
  width: 65px;
  vertical-align: 0; }

.menu-container {
  display: flex;
  align-items: center;
  width: 790px; }

.menu-item {
  display: flex;
  /* align-items: center; */
  flex-shrink: 0;
  color: #fff;
  font-family: verdana;
  font-size: 12px;
  font-weight: 700;
  text-shadow: 1px 1px 0 #442211;
  padding: 0 8px;
  height: 19px; }
  .menu-item.city {
    flex-basis: 190px; }
  .menu-item.logout {
    margin-left: auto; }
  .menu-item.active {
    padding: 0 7px;
    text-shadow: none; }

.submenu {
  padding: 3px 6px 0 6px;
  display: flex; }
  .submenu a {
    color: #000;
    font-family: verdana;
    font-size: 10px;
    font-weight: 700;
    padding: 0 9px;
    display: block; }
    .submenu a.active {
      margin-bottom: -1px; }

.logo {
  width: 170px;
  height: 43px;
  position: absolute;
  left: 9px;
  top: 50px;
  cursor: pointer; }
  .logo .version {
    font-family: arial;
    font-size: 10px;
    position: absolute;
    top: 22px;
    left: 170px; }

.content-box {
  padding: 10px; }

.content-tabs {
  display: flex;
  padding-left: 16px; }
  .content-tabs a {
    display: block;
    color: #000;
    font-family: verdana;
    font-size: 10px;
    font-weight: 700;
    padding: 3px 8px 0 8px;
    margin-right: 3px;
    border-style: solid;
    border-width: 1px 1px 0 1px; }
    .content-tabs a.active {
      padding: 3px 8px 0 8px;
      margin-top: 2px;
      margin-bottom: -2px; }

.content-tabs-padding {
  height: 4px;
  border-width: 1px 0 1px 0;
  border-style: solid; }

.content-wrapper {
  border: 1px solid #666633; }

.content-panel {
  display: flex;
  align-items: center;
  border-width: 1px;
  border-style: solid; }

.content-panel-user {
  padding: 8px; }

.content-panel-bio {
  flex-grow: 1;
  text-align: center;
  color: #cc0000;
  font-family: Georgia, cursive;
  font-weight: 700;
  font-style: italic; }

.content-panel-tools {
  padding: 0 8px; }

.content-panel-toggles {
  padding: 8px;
  display: flex; }

.content-panel-toggle {
  color: #000;
  padding: 3px 5px;
  font-family: verdana;
  font-size: 10px;
  font-weight: 700;
  border-width: 1px;
  border-style: solid;
  border-left-width: 0; }
  .content-panel-toggle.active {
    border-left-width: 1px; }
  .content-panel-toggle img {
    vertical-align: -3px; }

.content-main {
  display: flex;
  flex-direction: row;
  box-shadow: 0 25px 15px -20px rgba(0, 0, 0, 0.7); }
  .content-main.wrap {
    flex-wrap: wrap; }

.content-main-column {
  display: flex;
  flex-direction: column; }
  .content-main-column.expand {
    flex-grow: 1; }

.content-main-row {
  display: flex;
  flex-basis: 100%; }

.content-main-box.expand {
  flex-grow: 1; }

.content-main-header {
  padding: 1px 8px 0 8px;
  font-family: verdana;
  font-size: 10px;
  font-weight: 700; }

.content-main-content {
  padding: 8px; }

.content-main-content.columns {
  display: flex; }

.top-screen {
  position: absolute;
  left: 796px;
  top: 6px;
  background: url(/static.apberget.se/images/top/screen.png);
  width: 220px;
  height: 84px; }

.screen-display {
  color: #fff;
  background: url(/static.apberget.se/images/screen/theme0.gif);
  width: 212px;
  height: 70px;
  position: absolute;
  left: 4px;
  top: 4px;
  padding: 4px;
  font-size: 11px;
  line-height: 13px;
  /* font-family: 'courier new'; */ }

.screen-avatar img {
  border: 1px solid #000; }

.screen-name {
  position: absolute;
  left: 40px;
  top: 4px; }

.screen-name a {
  color: #fff;
  font-weight: 700;
  text-decoration: underline; }

.screen-text {
  position: absolute;
  left: 40px;
  top: 18px;
  height: 52px;
  overflow: hidden;
  font-weight: 700; }

.screen-new {
  background: url(/static.apberget.se/images/screen/new.gif);
  width: 45px;
  height: 6px;
  position: absolute;
  top: 78px;
  left: 34px;
  cursor: pointer; }

.screen-history {
  background: url(/static.apberget.se/images/screen/log.gif);
  width: 49px;
  height: 6px;
  position: absolute;
  top: 78px;
  left: 136px;
  cursor: pointer; }

.chat-container {
  padding: 5px; }
  .chat-container p {
    margin: 1px 0px 0px 0px;
    padding: 1px 0px 1px 2px;
    font: 10px arial; }
    .chat-container p.admin {
      background-color: #f30;
      padding: 2px;
      font-size: 12px;
      font-weight: bold; }
    .chat-container p.newest {
      background-color: #ff3; }
    .chat-container p.newer {
      background-color: #ee5; }
    .chat-container p.new {
      background-color: #dd7; }
    .chat-container p.old {
      opacity: 0.7; }
    .chat-container p.older {
      opacity: 0.5; }
    .chat-container p.oldest {
      opacity: 0.3; }
  .chat-container.enabled .chat-tools, .chat-container.enabled .chat-history {
    display: block; }
  .chat-container.enabled .chat-rules {
    display: none; }

.chat-tools {
  display: none; }

.chat-history {
  display: none; }

.chat-form input {
  width: 160px; }

.chat-rules {
  padding: 2px 9px 0 9px; }

a.user:hover {
  text-decoration: underline; }
a.user img {
  box-sizing: unset;
  border: solid 1px #000;
  vertical-align: text-top;
  width: 9px;
  height: 12px; }

.user-avatar {
  border: 1px solid #000; }

.profile-avatar {
  text-align: center;
  width: 65px; }

.profile-points {
  margin-top: 1px; }

.profile-points-value {
  font-family: Georgia, cursive;
  font-size: 16px;
  font-style: italic;
  color: #cc0000; }

.profile-points-label {
  font-size: 10px;
  color: #333333; }

.profile-details {
  margin-left: 18px;
  flex-grow: 1; }

.profile-details-field {
  padding: 4px 2px;
  border-bottom: 1px solid #55bb33; }

.unavailable {
  color: #333322; }

.guestbook-entry {
  padding: 5px 0;
  display: flex;
  flex-wrap: wrap; }

.guestbook-entry:not(:last-child) {
  border-bottom: 1px solid #70a44f; }

.guestbook-entry-info {
  width: 160px; }

.guestbook-entry-info .user-avatar {
  float: left;
  margin-right: 5px; }

.guestbook-entry-info .time {
  font: 10px verdana; }

.guestbook-entry-body {
  flex-grow: 1; }

.guestbook-entry-tools {
  width: 100%;
  text-align: right; }

.banner-top {
  position: absolute;
  left: 195px;
  top: 25px; }

button.old, .button.old {
  color: #000;
  font-family: Arial;
  font-size: 12px;
  padding: 2px 9px;
  background: linear-gradient(#fffffd, #f0f1ec);
  border-width: 1px;
  border-color: #1c2465;
  border-radius: 3px;
  border-style: solid;
  box-shadow: inset -1px -2px 3px #dad1bf, 0 1px 1px #eff5e3;
  cursor: pointer; }
  button.old:hover, .button.old:hover {
    background: linear-gradient(#fffffd, #D8ECF3); }
  button.old:active, .button.old:active {
    box-shadow: inset 1px 2px 3px #dad1bf, 0 1px 1px #eff5e3; }

.link-roll {
  background: url(/static.apberget.se/images/themes/12/icons/link_roll.png);
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: -3px; }

.index-wrapper {
  width: 565px;
  margin: 48px auto; }

.index-wrapper .content-main {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.list-table {
  width: 100%;
  border-collapse: collapse; }
  .list-table tr {
    border-bottom: 1px solid #55bb33; }
  .list-table td {
    padding: 3px; }

.stuff {
  cursor: pointer;
  margin: 0 6px; }

.stuff-container {
  display: flex; }

body.index {
  background: url(/static.apberget.se/images/themes/0/index_bg.png); }

.input {
  border: 2px solid #669933; }

.layout-menu {
  background: linear-gradient(#acc531, #859b18 60%, #7b8e1c 61%, #91a918);
  border-top: 1px solid #556600;
  border-bottom: 1px solid #556600; }

.layout-right {
  background-color: #afcc7a; }

.menu-item {
  /*
  &:hover {
  	background: linear-gradient( #B7D138, #859b18 60%, #7b8e1c 61%, #91a918);
  	border-bottom: 1px solid #556600;
  }
  */ }
  .menu-item.active {
    background: linear-gradient(#fdfd3f, #c7c71c 50%);
    border-left: 1px solid #556600;
    border-right: 1px solid #556600; }

.submenu {
  background: linear-gradient(#c7c71c, #d8d81e);
  border-bottom: 1px solid #5d6d02; }
  .submenu a.active {
    background: linear-gradient(#c7c71c, #dada1e);
    border: 1px solid #556600;
    border-bottom-color: #8d970d; }

/*
.content-wrapper {
	border-bottom-color: #666633;
}
*/
.content-tabs-padding {
  border-top-color: #fff;
  border-bottom-color: #557744; }

.content-panel-toggle {
  background: linear-gradient(#aec733, #89a017 60%, #7b8e1d 61%, #899f1a);
  border-color: #005555; }
  .content-panel-toggle.active {
    background: linear-gradient(#ffd500, #d8b500 60%, #bd9d00 61%, #dbb600);
    border-color: #000; }

.input {
  background-image: url(/static.apberget.se/images/themes/summer/box.png); }

.layout-left {
  background-image: url(/static.apberget.se/images/themes/summer/left.png); }

.layout-content {
  background-image: url(/static.apberget.se/images/themes/summer/bg.png); }

.layout-right {
  background-image: url(/static.apberget.se/images/themes/summer/right.png); }

/* tabs */
.content-tabs a {
  background: #66ddff;
  border-color: #003366; }
  .content-tabs a.active {
    background: #ffdd00;
    border-color: #666633; }

.content-panel {
  background-image: url(/static.apberget.se/images/themes/summer/box_bar.png);
  border-top-color: #cccc66;
  border-bottom-color: #336600;
  border-left-color: #fff;
  border-right-color: #336600; }

.content-tabs-padding {
  background: #ffdd00; }

/* content */
.content-main {
  background-color: #ffffdd;
  border-left-color: #fff;
  border-right-color: #cccc66; }

.content-main-column {
  border-left: 1px solid #fff;
  border-right: 1px solid #cccc66; }

.content-main-box {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #cccc66; }

.content-main-header {
  background: #ffdd00; }

/*# sourceMappingURL=style.css.map */
