<template>

	<div>

		<div class="content-panel">

            <div class="content-panel-user">

                <a class="user" href="#">
                    <img class="user-avatar" src="@/assets/static.apberget.se/images/panel/no_user_9_12.png">
                    <span id="userlinkUsername">Username</span>
                </a>

            </div>

            <div class="content-panel-bio">bio text</div>

            <div class="content-panel-tools">

                <a class="icon-button" href="#"><img src="@/assets/static.apberget.se/images/icons/new_message.png"></a>
                <a class="icon-button" href="#"><img src="@/assets/static.apberget.se/images/icons/new_item.png"></a>

            </div>

		</div>

		<router-view></router-view>

	</div>

</template>

<script>
	
	export default {
		name: 'profile'
	}

</script>