<template>

	<div class="layout-right">

		<div class="banner-right">
			<img src="@/assets/static.apberget.se/images/bnnrs/apberget/220x468.png" />
		</div>

	</div>

</template>

<style lang="scss" scoped>
	
	.layout-right {

		flex-grow: 1;
		padding: 8px;
		overflow: hidden;

		background-color: #cdcb98;
		background-repeat: repeat-y;
		box-shadow: inset 8px 0px 8px -8px #000;

	}

</style>