<template>

	<div class="layout-left">

		<div class="left-status">

			<apberget-user user-id="1"></apberget-user>

			<span class="time">
				kl. {{ time }}
			</span>

		</div>

		
		<!--<apberget-panel></apberget-panel>-->
		
		<div class="panel">

			<div class="panel-icons" id="panel-icons">

				<apberget-panel-icon v-for="icon in panel" v-bind:icon="icon" v-bind:key="icon.key"></apberget-panel-icon>
				
				<!--
					<a href="/#/cave/messages" title="Meddelanden" class="panel-icon messages" data-panel-option="messages"></a>
					
					<a href="/#/cave/guestbook" title="Gästbok" class="panel-icon guestbook" data-panel-option="guestbook"></a>
					
					<a href="/#/cave/friends" title="Vänner" class="panel-icon friends" data-panel-option="friends"></a>
					
					<a href="/#/activities" title="Aktiviteter" class="panel-icon activities" data-panel-option="activities"></a>
					
					<a href="/#/groups" title="Grupper" class="panel-icon groups" data-panel-option="groups"></a>
				-->

			</div>

			<div class="panel-refresh">
				<button class="button-icon refresh"></button>
			</div>

		</div>


        <div class="friends-list">

            <div class="friends-display">Visa: <b>vänner</b> | <a href="#" class="link">nyinloggade</a></div>

            <div class="friends-items" id="friends-items">

                <a href="#" v-for="item in friends" class="active">
                    <img src="@/assets/static.apberget.se/images/panel/no_user_30_40.png" alt="" title="Din vän #, Inaktiv" style="opacity: 1;">
                </a>

            </div>

        </div>


		<div class="friends-tools">

			<p><button class="old" style="font-size: 11px">Bjud in en vän</button></p>
			<p><button class="old" style="font-size: 11px">Sök apbergare</button></p>

		</div>


		<div class="account-search">

			<div class="balance">
				<div class="balance-label">konto</div>
				<a href="#" class="balance-value">0 kr</a>
			</div>

			<div class="search-form">
				Sök: <input type="text" class="input" /> <button class="button-icon search"></button>
			</div>

		</div>

		<apberget-chat></apberget-chat>

	</div>

</template>

<script>

	// import ApbergetPanel from '@/components/ApbergetPanel';
	
	// import ApbergetFriends from '@/components/ApbergetFriends';

    import ApbergetChat from '@/components/ApbergetChat';

	import ApbergetPanelIcon from '@/components/ApbergetPanelIcon';

	import ApbergetUser from '@/components/ApbergetUser';

	import moment from 'moment';

	export default {

		name: 'apberget-left',

		props: ['panel', 'friends'],

		mounted: function(){

			this.updateClock();

			setTimeout( () => {
				this.updateClock();
				setInterval( this.updateClock, 60000 );
			}, ( 60 - moment().format('ss') ) * 1000 );

		},

		data: function(){

			return {
				time: '00.00'
			};

		},

		methods: {

			updateClock(){

				this.time = moment().format('HH.mm');

			}

		},

		components: {
			// ApbergetPanel,
			ApbergetPanelIcon,
			// ApbergetFriends,
			ApbergetChat,
			ApbergetUser
		}

	}

</script>

<style lang="scss" scoped>

	.layout-left {
		
		width: 190px;
		
		flex-shrink: 0;

		overflow: hidden;

		// default
		background-color: #cdcb98;
		box-shadow: inset 8px 0px 8px -8px #000, inset -8px 0px 8px -8px #000;

	}

	.left-status {

		padding: 2px 0 0 8px;

		.time {

			font-family: verdana;
			font-size: 9px;

			float: right;
			padding-top: 2px;
			padding-right: 8px;

		}

	}

    .friends-list {
        padding: 0 6px;
    }

    .friends-display {
        font-size: 10px;
    }

    .friends-items {

        display: flex;
        flex-wrap: wrap;

        a {

            display: block;
            margin: 0 1px 1px 0;

            border: 2px solid #000;

            &.active {
                border-color: #ff0;
            }

            &.inactive {
                border-color: #999;
            }

            img {
                display: block;
            }

        }

    }

    .friends-tools {
        padding: 20px;
    }

	.account-search {

        display: flex;
        align-items: center;

        .balance {
            text-align: center;
            font-size: 10px;
        }

        .balance-label {
            color: #333333;
            text-align: center;
            padding: 0 20px;
        }

        .balance-value {
            color: #0000ff;
            font: 9px Verdana;
            letter-spacing: -1px;
        }

    }

	.search-form {
		
		font-size: 14px;

		input {
			width: 65px;
			vertical-align: 0;
		}

	}

	.panel {
		display: flex;
		padding: 0 3px;
	}

	.panel-icons {
		display: flex;
	}

	.panel-refresh {
		flex-grow: 1;
		text-align: right;
		padding: 6px 6px;
	}

</style>