<template>
	<a :href="icon.href" :title="icon.title" :class="compClass">
		<span class="badge" v-if="icon.unread > 1">{{ icon.unread }}</span>
	</a>
</template>

<script>

	export default {
		
		name: 'apberget-panel-icon',

		props: ['icon', 'unread'],

		computed: {

			compClass(){

				// console.log( 'panel icon', this );

				let out = [ 'panel-icon', this.icon.key ];

				if( this.icon.unread > 0 ) out.push('highlight');

				return out;

			}

		}

	}

	</script>

<style lang="scss" scoped>

	.panel-icon {

		width: 28px;
		height: 28px;

		cursor: pointer;

		background-position: center center;
		background-repeat: no-repeat;

		&.messages { background-image: url(../assets/static.apberget.se/images/panel/messages.png); }
		&.messages.highlight { background-image: url(../assets/static.apberget.se/images/panel/messages_hi.png); }

		&.guestbook { background-image: url(../assets/static.apberget.se/images/panel/guestbook.png); }
		&.guestbook.highlight { background-image: url(../assets/static.apberget.se/images/panel/guestbook_hi.png); }

		&.friends { background-image: url(../assets/static.apberget.se/images/panel/friends.png); }
		&.friends.highlight { background-image: url(../assets/static.apberget.se/images/panel/friends_hi.png); }

		&.activities { background-image: url(../assets/static.apberget.se/images/panel/activities.png); }
		&.activities.highlight { background-image: url(../assets/static.apberget.se/images/panel/activities_hi.png); }

		&.groups { background-image: url(../assets/static.apberget.se/images/panel/groups.png); }
		&.groups.highlight { background-image: url(../assets/static.apberget.se/images/panel/groups_hi.png); }

		.badge {

			display: block;


			box-sizing: content-box;

			font: 9px Arial;

			text-align: center;
			color: #fff;

			line-height: 14px;

			position: relative;
			top: 14px;
			left: 15px;

			width: 14px;
			height: 14px;
			// width: 13px;
			// height: 12px;
			// padding: 16px 0 0 15px;

            background: url(../assets/static.apberget.se/images/panel/number.png) no-repeat center center;

            /*
            background: #cc0000;
            border-radius: 32px;
            box-shadow: inset -1px -1px 0 0.5px #990000;
            */

		}

	}

</style>