<template>

	<div class="layout-menu">
			
		<div class="menu-container" id="menu-container">

			<a href="#" class="menu-item city">UMEÅ</a>

			<a :href="item.url" :class="{ 'menu-item': 1, active: item.active }" v-for="item in menu">{{ item.text }}</a>	

			<a href="/#/logout" class="menu-item logout" data-menu-option="logout">Logga ut</a>

		</div>

	</div>

</template>

<script>

	export default {

		name: 'apberget-menu',

		props: ['menu']

	}

</script>

<style lang="scss" scoped>

	.layout-menu {
		height: 20px;
		background-image: url(../assets/static.apberget.se/images/themes/0/menu.png);
	}
		
	.menu-container {

		display: flex;

		align-items: center;

		width: 790px;

	}

	.menu-item {

		display: flex;
		flex-shrink: 0;
				
		color: #fff;

		font-family: verdana;
		font-size: 12px;
		font-weight: 700;

		text-shadow: 1px 1px 0 #442211;
		
		padding: 0 8px;

		height: 19px;

		&.city {
			flex-basis: 190px;
		}

		&.logout {
			margin-left: auto;
		}

		&.active {

			padding: 0 7px;

			text-shadow: none;

			// default
			background-image: linear-gradient( #cbc95a, #bab72f 50%, #aaa82d 51%, #c9c64b );
			border-left: 1px solid #5d5e14;
			border-right: 1px solid #5d5e14;


		}

	}

</style>