<template>

	<div class="layout-content">
		
		<!--
		<div class="content-tabs">
			<a href="/#/main/cave/profile/userinfo" class="active">Användarinfo</a>
			<a href="/#/main/cave/profile/guestbook">Gästbok</a>
			<a href="/#/main/cave/profile/diary">Diarium</a>
			<a href="/#/main/cave/profile/albums">Fotoalbum</a>
			<a href="/#/main/cave/profile/links">Länkar</a>
			<a href="/#/main/cave/profile/friends">Vänner</a>
			<a href="/#/main/cave/profile/things">Saker</a>
		</div>

		<div class="content-wrapper">

			<div class="content-tabs-padding"></div>

			<!-
				<div class="content-panel">

					panel

				</div>
			--

			<div class="content-main">
				
				<div class="content-main-column expand">
								
					<div class="content-main-box">
						
						<div class="content-main-header">Användarinformation</div>
						
						<div class="content-main-body columns">
							Test
						</div>

					</div>

				</div>

			</div>

		</div>
	-->

		<router-view></router-view>

	</div>

</template>

<style lang="scss" scoped>
	
	.layout-content {

		flex-shrink: 0;

		flex-grow: 1;

		// overflow-y: auto;

		background: #edeedc;

		box-shadow: inset 0 5px 10px rgba(0,0,0,.3);

		padding: 10px;

	}

	.content-wrapper {
		border: 1px solid #666633;
	}

	.content-tabs {
	
		display: flex;

		padding-left: 16px;

		a {
			
			display: block;
			color: #000;

			background-color: #a9aa88;
			
			font-family: verdana;
			font-size: 10px;
			font-weight: 700;

			padding: 3px 8px 0 8px;
			margin-right: 3px;

			border-style: solid;
			border-width: 1px 1px 0 1px;
			border-color: #8b8c41;

			&.active {

				padding: 3px 8px 0 8px;
				margin-top: 2px;
				margin-bottom: -2px;

				background-color: #dadbb9;

			}

		}

	}

	.content-tabs-padding {
		height: 4px;

		border-width: 1px 0 1px 0;
		border-style: solid;

		border-top-color: #fffffe;
		border-bottom-color: #999a5c;
		background-color: #dadab8;

	}

	.content-panel {

		display: flex;
		
		align-items: center;

		border-width: 1px;
		border-style: solid;

	}

	.content-main {

		display: flex;
		flex-direction: row;

		// border-width: 0 1px 0 1px;
		// border-style: solid;

		box-shadow: 0 25px 15px -20px rgba(0,0,0,.7);

		&.wrap {
			flex-wrap: wrap;
		}

	}

	.content-main-column {

		// flex-grow: 1;

		display: flex;

		flex-direction: column;

		&.expand {
			flex-grow: 1;
		}

	}

	.content-main-row {
		display: flex;
		flex-basis: 100%;
	}

	.content-main-box.expand {
		flex-grow: 1;
	}

	.content-main-header {

		padding: 1px 8px 0 8px;
		
		font: 10px Verdana;
		font-weight: 700;

		background-color: #dadcc9;

	}

	.content-main-body {
		
		padding: 8px;

		background-color: #f3f4e1;

		&.columns {
			
			display: flex;
			
			.column {

			}

		}

	}

</style>