<template>

	<div class="panel">

		<div class="panel-icons" id="panel-icons">

			<apberget-panel-icon v-for="icon in icons" v-bind:icon="icon" v-bind:key="icon.key"></apberget-panel-icon>
			
			<!--
				<a href="/#/cave/messages" title="Meddelanden" class="panel-icon messages" data-panel-option="messages"></a>
				
				<a href="/#/cave/guestbook" title="Gästbok" class="panel-icon guestbook" data-panel-option="guestbook"></a>
				
				<a href="/#/cave/friends" title="Vänner" class="panel-icon friends" data-panel-option="friends"></a>
				
				<a href="/#/activities" title="Aktiviteter" class="panel-icon activities" data-panel-option="activities"></a>
				
				<a href="/#/groups" title="Grupper" class="panel-icon groups" data-panel-option="groups"></a>
			-->

		</div>

		<div class="panel-refresh">
			<button class="button-icon refresh"></button>
		</div>

	</div>

</template>

<script>

	import ApbergetPanelIcon from '@/components/ApbergetPanelIcon';

	export default {

		name: 'apberget-panel',

		data(){

			return {

				icons: [
					
					{ title: 'Meddelanden', key: 'messages' },

					{ title: 'Gästbok', key: 'guestbook' },

					{ title: 'Vänner', key: 'friends' },

					{ title: 'Aktiviteter', key: 'activities' },

					{ title: 'Grupper', key: 'groups' }

				]

			};

		},

		components: {
			ApbergetPanelIcon
		}

	};

</script>

<style lang="scss" scoped>

	.panel {
		display: flex;
		padding: 0 3px;
	}

	.panel-icons {
		display: flex;
	}

	.panel-refresh {
		flex-grow: 1;
		text-align: right;
		padding: 6px 6px;
	}

</style>