<template>

	<div class="friends-list">

		<div class="friends-display">Visa: <b>vänner</b> | <a href="#" class="link">nyinloggade</a></div>

		<div class="friends-items" id="friends-items">

			<!--
				<a href="#" style="border: 2px solid #999;">
					<img src="static.apberget.se/images/panel/no_user_30_40.png" alt="" title="Din vän #, Inaktiv" style="opacity: 0.4;">
				</a>
				
				<a href="#" style="border: 2px solid #999;">
					<img src="static.apberget.se/images/panel/no_user_30_40.png" alt="" title="Din vän #, Inaktiv" style="opacity: 0.83;">
				</a>
				
				<a href="#" style="border: 2px solid #000;">
					<img src="static.apberget.se/images/panel/no_user_30_40.png" alt="" title="Din vän #, Aktiv" style="opacity: 1;">
				</a>

				<a href="#" style="border: 2px solid #ff0;">
					<img src="static.apberget.se/images/panel/no_user_30_40.png" alt="" title="Din vän #, ?" style="opacity: 1;">
				</a>
			-->

			<!--
				<a href="#" style="border: 2px solid #8fe58c;">
					<img src="static.apberget.se/images/panel/no_user_30_40.png" alt="" title="Din vän #, ?" style="opacity: 1;">
				</a>
			-->

		</div>

	</div>

</template>