<template>

	<div class="layout-submenu">
		
		<a :href="item.url" v-for="item in submenu">{{ item.text }}</a>

	</div>

</template>

<script>

	export default {

		name: 'apberget-submenu',

		props: ['submenu']

	}

</script>

<style lang="scss" scoped>

	.layout-submenu {

		padding: 3px 6px 0 6px;

		display: flex;

		// default
		background-image: linear-gradient(#c8c54e 85%, #78792b);
		border-bottom: 1px solid #5d6d02;

		a {
			color: #000;

			font-family: verdana;
			font-size: 10px;
			font-weight: 700;

			padding: 0 9px;
			display: block;

			&.active {
				margin-bottom: -1px;

				// default
				background-image: linear-gradient(#94972e, #b3b369 15%);
				border: 1px solid #556600;
				border-bottom-color: #8d970d;

			}

		}

	}

</style>