<template>

	<div class="layout-weather day">
		
		<div class="weather-clouds light"></div>

		<div class="weather-palms"></div>

		<div class="logo">
			<div class="version">5.0</div>
		</div>

		<div class="weather-hut"></div>

		<div class="banner-top">
			<img src="@/assets/static.apberget.se/images/bnnrs/apberget/468x60.png" />
		</div>

		<apberget-screen></apberget-screen>

	</div>

</template>

<script>

	import ApbergetScreen from '@/components/ApbergetScreen';

	export default {

		name: 'apberget-weather',

		data: function(){

			return {
				screen: {
					username: 'test',
					text: 'text'
				}
			};

		},

		components: {
			ApbergetScreen
		}

	}

</script>

<style lang="scss" scoped>

	@keyframes clouds {
		0% {
			background-position: 0px 0px;
		}
		100% {
			background-position: 256px 0px;
		}
	}

	.layout-weather {
		height: 90px;
		flex-shrink: 0;
		position: relative;
		overflow: hidden;
		/* border-bottom: 1px solid #49490d; */
	}

	.banner-top {

		position: absolute;
		left: 195px;
		top: 25px;

	}

	.layout-weather.day {

		// background-image: linear-gradient(#cce4ff, #fdfeea);

		background-image: url(../assets/static.apberget.se/images/palms/day.png);

		.weather-hut {
			background-image: url(../assets/static.apberget.se/images/palms/hut_day.png);
		}

	}

	.layout-weather.night {

		background-color: linear-gradient(#303161, #6265ce);

		background-image: url(../assets/static.apberget.se/images/palms/night.png);

		.weather-hut {
			// background-image: url(../assets/static.apberget.se/images/palms/hut_night.png);
			background-color: #f00;
		}

		.weather-clouds {
			opacity: .2;
		}

	}

	.weather-palms {
		
		background-image: url(../assets/static.apberget.se/images/palms/palms.png);	

		position: absolute;

		top: 0px;
		left: 0px;

		width: 750px;
		height: 90px;

	}

	.weather-clouds {
		
		position: absolute;

		top: 0px;
		left: 0px;

		width: 100%;
		height: 90px;

		animation: clouds 90s linear infinite;

		&.light {
			background-image: url(../assets/static.apberget.se/images/weather/clouds_light.png);
		}

		&.medium {
			// background-image: url(../assets/static.apberget.se/images/weather/clouds_medium.png);
			background-color: #f00;
		}

	}

	.weather-hut {

		position: absolute;
		top: 64px;
		left: 732px;
		width: 25px;
		height: 26px;
		/* background-image: url(static.apberget.se/images/palms/igloo_night.png); */

	}

	.logo {
		
		width: 170px;
		height: 43px;

		position: absolute;

		left: 9px;
		top: 50px;

		cursor: pointer;

		.version {

			font-family: arial;
			font-size: 10px;

			position: absolute;
			top: 22px; 
			left: 170px;

		}

		background: url(../assets/static.apberget.se/images/logo/15p.png);

	}

</style>