<template>

    <li :class="msgClass">
        <span class="username"><a href="#">{{ msg.username }}</a></span>:
        <span class="text">{{ msg.text }}</span>
    </li>

</template>

<script>

    import moment from 'moment';

    export default {

        name: 'apberget-chat-message',

        props: ['msg'],

        data(){

            return {
                diff: 0
            }

        },

        mounted(){

            this.interval = setInterval( () => {

                this.diff = moment().diff(this.msg.date, 'seconds');

            }, 1000);


        },

        beforeDestroy(){

            clearInterval(this.interval);

        },

        computed: {

            msgClass(){

                // console.log('messageClass', msg, i, diff );

                if(this.diff > 25) return "oldest";
                if(this.diff > 20) return "older";
                if(this.diff > 15) return "old";
                if(this.diff > 10) return "new";
                if(this.diff > 5) return "newer";

                return "newest";

            }

        },

        methods: {

            setClass(){

            }

        }


    }

</script>

<style lang="scss" scoped>

    li {

        font: 10px Arial;

        margin: 1px 0 0 0;
        padding: 1px 0 1px 2px;

        &.admin {
            background-color: #f30;
            padding: 2px;
            font-size: 12px;
            font-weight: bold;
        }

        &.newest {
            background-color: #ff3;
        }

        &.newer {
            background-color: #ee5;
        }

        &.new {
            background-color: #dd7;
        }

        &.old {
            opacity: 0.7;
        }

        &.older {
            opacity: 0.5;
        }

        &.oldest {
            opacity: 0.3;
        }

    }

    .username {
        font-weight: 700;
    }

</style>