<template>

	<a class="user" href="#">

		<img class="user-avatar" src="@/assets/static.apberget.se/images/panel/no_user_9_12.png">

		<span id="userlinkUsername">{{ username }}</span>

	</a>

</template>

<script>

	export default {

		props: ['user-id'],

		data: function(){

			return {
				username: 'Test'
			};

		},

	}


</script>

<style lang="scss" scoped>

	a.user {

		&:hover {
			text-decoration: underline;
		}

		img {

			box-sizing: unset;
			
			border: solid 1px #000;
			
			vertical-align: text-top;
			
			width: 9px;
			height: 12px;
			
		}

	}

</style>