<template>
	
	<div class="chat-container" id="chat-container">

		<div class="chat-rules" v-show="!displayChat">
			<b>Regler i chatten:</b>
			<ul class="notice">
				<li>Inget spam.</li>
				<li>Inget SKRIK.</li>
				<li>Respektera andra.</li>
				<li>Sunt förnuft.</li>
				<li>Ha kul.</li>
			</ul>
			<p>
				<button class="button old" @click="showChat">Till chatten</button>
			</p>
		</div>

		<div class="chat-tools" v-show="displayChat">
			
			<strong>Chatten</strong>

			<form class="chat-form" id="chat-form">
				<input type="text" class="input" id="chat-input" ref="chat-input" @enter="sendMessage" />
				<button class="button-icon add" @click="sendMessage"></button>
			</form>

		</div>

		<div class="chat-history" id="chat-history" v-show="displayChat">
			
			<!--
			<p class="newer">
				<b><a href="#">Användarnamn</a></b>:
				Lorem ipsum whatever
			</p>
		-->
            <ul>
                <apberget-chat-message v-for="msg, i in sortedMessages" :key="i" :msg="msg"></apberget-chat-message>
            </ul>
            <!--
            <p v-for="msg, i in sortedMessages" v-bind:class="messageClass" >
                <b><a href="#">{{ msg.username }}</a></b>:
                {{ msg.text }}
            </p>
            -->

		</div>

	</div>

</template>

<script>

    import ApbergetChatMessage from '@/components/ApbergetChatMessage';

    import moment from 'moment';

	export default {

		name: 'apberget-chat',

        mounted(){

		    console.log('chat mounted', this);

        },

		data: function(){

			return {
				displayChat: false,
				messages: []
			};

		},

        computed: {

		    sortedMessages(){
		        return this.messages.slice().reverse();
            },

            messageClass( a, b, c ){

		        console.log( 'class', this, a, b, c );

		        /*
                let diff = moment().diff(msg.date, 'seconds');

                console.log('messageClass', msg, i, diff );

                if(diff > 25) return "oldest";
                if(diff > 20) return "older";
                if(diff > 15) return "old";
                if(diff > 10) return "new";
                if(diff > 5) return "newer";

                return "newest";
                */

            }

        },

		methods: {

			showChat: function(){

				console.log('chat');

				this.displayChat = true;

				console.log( this.$refs );

				this.$nextTick(() => {
					this.$refs['chat-input'].focus();
				});

			},

            sendMessage(){

			    let input = this.$refs['chat-input'];

			    let msg = {};
			    msg.username = "test";
			    msg.text = input.value;
			    msg.date = moment();

			    this.messages.push( msg );

			    if( this.messages.length > 10 )
			        this.messages.shift();

			    input.value = "";

			    input.focus();

            }

		},

        components: {
            ApbergetChatMessage
        }


	}

	/*
	<b><a href="#">{{ msg.username }}</a></b>:
                {{ msg.text }}
	 */

</script>

<style lang="scss" scoped>

	.chat-container {

		padding: 5px;

        /*
		p {

			margin: 1px 0px 0px 0px;
			padding: 1px 0px 1px 2px;

			font: 10px arial;

			&.admin {
				background-color: #f30;
				padding: 2px;
				font-size: 12px;
				font-weight: bold;
			}

			&.newest {
				background-color: #ff3;
			}

			&.newer {
				background-color: #ee5;
			}

			&.new {
				background-color: #dd7;
			}

			&.old {
				opacity: 0.7;
			}

			&.older {
				opacity: 0.5;
			}

			&.oldest {
				opacity: 0.3;
			}

		}
		*/

		/*
		&.enabled {

			.chat-tools, .chat-history {
				display: block;
			}

			.chat-rules {
				display: none;
			}

		}
		*/

	}

	/*
	.chat-tools {
		display: none;
	}

	.chat-history {
		display: none;
	}
	*/

    .chat-history {

        margin-top: 1px;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

    }

	.chat-form input {
		width: 160px;
	}

	.chat-rules {
		padding: 2px 9px 0 9px;
	}

</style>