<template>
	
	<div class="screen-wrapper">

		<div class="screen-display">

			<div class="screen-avatar">
				<img class="user-avatar" src="@/assets/static.apberget.se/images/panel/no_user_30_40.png" />
			</div>

			<div class="screen-name">
				<a href="#">{{ screen.username }}</a>
			</div>

			<div class="screen-text">{{ screen.text }}</div>

		</div>

		<div class="screen-new"></div>
		<div class="screen-history"></div>

	</div>

</template>

<script>

	export default {

		name: 'apberget-screen',

		data: function(){

			return {
				screen: {
					username: 'test',
					text: 'text'
				}
			};

		},

	}

</script>

<style lang="scss" scoped>

	.screen-wrapper {

		position: absolute;

		left: 796px;
		top: 6px;

		width: 220px;
		height: 84px;

		background: url(../assets/static.apberget.se/images/top/screen.png);
		
	}

	.screen-display {
		
		color: #fff;

		background: url(../assets/static.apberget.se/images/screen/theme0.gif);

		width: 212px;
		height: 70px;

		position: absolute;

		left: 4px;
		top: 4px;

		padding: 4px;

		font-size: 11px;
		line-height: 13px;
		// letter-spacing: -0.2ex;
		// word-spacing: -0.5ex;

		/* font-family: 'courier new'; */

	}

	.screen-avatar {

	}

	.screen-avatar img {
		border: 1px solid #000;
	}

	.screen-name {
		position: absolute;
		left: 40px;
		top: 4px;
	}

	.screen-name a {
		color: #fff;
		font-weight: 700;
		text-decoration: underline;
	}

	.screen-text {
		position: absolute;
		left: 40px;
		top: 18px;
		height: 52px;
		overflow: hidden;

		font-weight: 700;
	}

	.screen-new {
		background: url(../assets/static.apberget.se/images/screen/new.gif);
		width: 45px;
		height: 6px;
		position: absolute;
		top: 78px;
		left: 34px;
		cursor: pointer;
	}

	.screen-history {
		background: url(../assets/static.apberget.se/images/screen/log.gif);
		width: 49px;
		height: 6px;
		position: absolute;
		top: 78px;
		left: 136px;
		cursor: pointer;
	}

</style>