<template>

	<div class="layout">

		<apberget-weather></apberget-weather>

		<!--<apberget-menu :menu="menu"></apberget-menu>-->
		<div class="layout-menu">
			
			<div class="menu-container" id="menu-container">

				<a href="#" class="menu-item city">UMEÅ</a>

				<!--<a :href="item.url" :class="{ 'menu-item': 1, active: item.active }" v-for="item in menu">{{ item.text }}</a>-->

				<router-link :to="item.url" :class="{ 'menu-item': 1, active: item.active }" v-for="item in menu" :key="item.url">{{ item.text }}</router-link>

				<a href="/#/logout" class="menu-item logout" data-menu-option="logout">Logga ut</a>

			</div>

		</div>

		<div class="layout-main">
			
			<apberget-left v-bind:panel="panel" v-bind:friends="friends"></apberget-left>

			<div class="layout-center">
				
				<!--<apberget-submenu :submenu="submenu"></apberget-submenu>-->
				<div class="layout-submenu">
		
					<router-link :to="item.url" v-for="item in submenu" :key="item.url">{{ item.text }}</router-link>

				</div>
				
				<div class="layout-content">

					<!--<router-view></router-view>-->
					<!--<content-layout>test</content-layout>-->

					<div class="content-tabs">
						<router-link :to="item.url" v-for="item in tabs" :key="item.url">{{ item.text }}</router-link>
					</div>

					<div class="content-wrapper">

						<div class="content-tabs-padding"></div>

						<router-view></router-view>

					</div>

				</div>
			

			</div>

			<apberget-right></apberget-right>

		</div>

	</div>

</template>

<script>

	import ApbergetWeather from '@/components/ApbergetWeather';
	import ApbergetMenu from '@/components/ApbergetMenu';
	import ApbergetLeft from '@/components/ApbergetLeft';
	import ApbergetContent from '@/components/ApbergetContent';
	import ApbergetSubmenu from '@/components/ApbergetSubmenu';
	import ApbergetRight from '@/components/ApbergetRight';

	// import ContentLayout from '@/components/content/ContentLayout';

	// import '@/scss/style.scss';

	export default {

		name: 'Main',

		mounted(){

			console.log('main mounted', this.$route );

			this.setMenus( this.$route );

			/*
			if( this.$route.meta.submenu ){
				this.submenu = this.$route.meta.submenu;
			}
			*/
			
			/*
			if( this.$route ){
				
				this.$route.foreach( (k, v) => {
					console.log( 'route', k, v );
				});

			}
			*/

		},

		/*
		beforeRouteEnter (to, from, next) {

			// console.log('before route enter', to, from, next);

			console.log( 'before enter', to.meta, from.meta );

			// this.setMenus();

			next();

		},
		*/

		beforeRouteUpdate (to, from, next) {

			// console.log('before route update', to, from, next);

			console.log( 'before update', to.meta, from.meta );

			this.submenu = [];
			this.tabs = [];

			this.setMenus( to );

			next();

		},

		data() {

			return {

				msg: 'Welcome to Your Vue.js App',

				user: {
					id: 1,
					username: 'HelloWorld'
				},

				friends: [
					{
					    id: 2,
						username: 'Hello'
					},
					{
					    id: 3,
						username: 'World'
					}
				],

				menu: [
					{ url: '/main/cave', 		text: 'Din hydda' },
					{ url: '/main/current', 	text: 'På gång' },
					{ url: '/main/users', 		text: 'Apbergare' },
					{ url: '/main/activities', 	text: 'Aktiviteter' },
					{ url: '/main/groups', 		text: 'Grupper' },
					{ url: '/main/help', 		text: 'Hjälp' }
				],

				submenu: [],

				tabs: [],

				panel: [

					{
						title: 'Meddelanden',
						key: 'messages',
						unread: 12,
						href: '/main/cave/messages'
					},

					{
						title: 'Gästbok',
						key: 'guestbook',
						unread: 200,
						href: '/main/cave/profile/guestbook'
					},

					{
						title: 'Vänner',
						key: 'friends',
						unread: 0,
						href: '/main/cave/profile/friends'
					},

					{
						title: 'Aktiviteter',
						key: 'activities',
						unread: 0,
						href: '/main/cave/activities'
					},

					{
						title: 'Grupper',
						key: 'groups',
						unread: 0,
						href: '/main/cave/groups'
					}

				]

			}

		},
		
		/*
			watch: {

				$route(){

					// console.log('route change', this.$route.meta );

					if( this.$route.meta.submenu ){
						this.submenu = this.$route.meta.submenu;
					}

				}

			},
		*/
	
		methods: {

			setSubmenu( data ){
				this.submenu = data;
			},

			setMenus( route ){
				
				for( var r of route.matched ){
					
					// console.log('match', r);

					if( r.meta.submenu ){
						this.submenu = r.meta.submenu;
					}

					if( r.meta.tabs ){
						this.tabs = r.meta.tabs;
					}

				}

			}

		},

		components: {
			ApbergetWeather,
			ApbergetMenu,
			ApbergetLeft,
			ApbergetContent,
			ApbergetSubmenu,
			ApbergetRight,
			// ContentLayout
		}

	}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">

	@import "../scss/base";

	@import "../scss/input";

    a.user {

        &:hover {
            text-decoration: underline;
        }

        img {

            box-sizing: unset;

            border: solid 1px #000;

            vertical-align: text-top;

            width: 9px;
            height: 12px;

        }

    }

    .user-avatar {
        border: 1px solid #000;
    }

	.layout {

		display: flex;
		flex-direction: column;

		height: 100%;

	}

	.layout-main {
		display: flex;
		flex-grow: 1;
		max-height: calc( 100vh - 110px );
	}

	.layout-center {

		width: 600px;

		flex-shrink: 0;

		// overflow-y: scroll;
		overflow-y: auto;

		display: flex;
		flex-direction: column;

	}

	.layout-right {
		flex-grow: 1;
		background-repeat: repeat-y;
		padding: 8px;
		overflow: hidden;
	}

	.layout-menu {

        height: 20px;

        // background-image: url(../assets/static.apberget.se/images/themes/0/menu.png);

        // default, newer?
        // background-image: linear-gradient(#939330, #7d7d0a 50%, #6a6a04 51%, #8f8f29);

        // default, old?
        background-image: linear-gradient(#a8a72d, #989619 50%, #858312 51%, #a7a428);

        border-top: 1px solid #49490d;
        border-bottom: 1px solid #49490d;

	}

	.menu-container {

		display: flex;

		align-items: center;

		width: 790px;

	}

	.menu-item {

		display: flex;
		flex-shrink: 0;

		color: #fff;

		font-family: verdana;
		font-size: 12px;
		font-weight: 700;

		text-shadow: 1px 1px 0 #442211;

		padding: 0 8px;

		height: 19px;

		&.city {
			flex-basis: 190px;
		}

		&.logout {
			margin-left: auto;
		}

		&.active, &.router-link-active {

			padding: 0 7px;

			text-shadow: none;

			// default
			background-image: linear-gradient( #cbc95a, #bab72f 50%, #aaa82d 51%, #c9c64b );
			border-left: 1px solid #5d5e14;
			border-right: 1px solid #5d5e14;

		}

	}

	.layout-submenu {

		padding: 3px 6px 0 6px;

		display: flex;

		// default
		background-image: linear-gradient(#c9c64b 90%, #959314);
		border-bottom: 1px solid #5d6d02;

		a {

            color: #000;

			font: 10px Verdana;
			font-weight: 700;

			padding: 0 8px;
			display: block;

            border: 1px solid transparent;
            border-bottom-width: 0;

			&.active, &.router-link-active {

                margin-bottom: -1px;

                // padding: 0 8px;

				// default
				background-image: linear-gradient(#959318, #c8c74e 20%);

                border-color: #556600;

                // border-bottom-color: #8d970d;

			}

		}

	}

	@import "../scss/buttons";

</style>

<style lang="scss">

	.layout-content {

		flex-shrink: 0;

		flex-grow: 1;

		// overflow-y: auto;

		background: #eeeedd;

		box-shadow: inset 0 5px 10px rgba(0,0,0,.3);

		padding: 10px;

	}

	.content-wrapper {

		border: 1px solid #666633;

        box-shadow: 0 25px 15px -20px rgba(0,0,0,.4);

	}

	.content-tabs {

		display: flex;

		padding-left: 16px;

		a {

			display: block;
			color: #000;

			background-color: #aaaa88;

			font: 10px Verdana;
			font-weight: 700;

			padding: 3px 8px 0 8px;
			margin-right: 3px;

            border: 1px solid #666633;
            border-bottom-width: 0;

            &.active, &.router-link-active {

				padding: 3px 8px 0 8px;

                margin-top: 2px;
				margin-bottom: -2px;

				background-color: #ccccaa;

			}

		}

	}

	.content-tabs-padding {

        height: 6px;

		border-width: 1px 0 1px 0;
		border-style: solid;

		border-top-color: #fffffe;
		border-bottom-color: #999977;
		background-color: #ccccaa;

	}

	.content-panel {

		display: flex;

		align-items: center;

        background-color: #ddddcc;

		border: 1px solid #fffffe;
		border-right-color: #999977;
		border-bottom-color: #999977;

	}

    .content-panel-user {
        padding: 8px;
    }

    .content-panel-bio {
        flex-grow: 1;
        text-align: center;

        color: #cc0000;
        font-family: Georgia, cursive;
        font-weight: 700;
        font-style: italic;

    }

    .content-panel-tools {
        padding: 0 8px;
    }

    .content-panel-toggles {
        padding: 8px;
        display: flex;
    }

    .content-panel-toggle {

        color: #000;

        padding: 3px 5px;

        font: 10px Verdana;
        font-weight: 700;

        background-color: #cdccc7;
        border: 1px solid #999b86;
        // border-left-width: 0;

        &.active, &.router-link-exact-active {
            // border-left-width: 1px;
            background-color: #a0dcff;
            border-color: #4a5b55;
        }

        &:last-child {
            border-left-width: 0;
        }

        img {
            vertical-align: -3px;
        }

    }

	.content-main {

		display: flex;
		flex-direction: row;

        border: 1px solid #fffffe;
        border-right-color: #999977;
        border-bottom-color: #999977;

        background-color: #eeeedd;

		// box-shadow: 0 25px 15px -20px rgba(0,0,0,.7);

		&.wrap {
			flex-wrap: wrap;
		}

	}

	.content-main-column {

		// flex-grow: 1;

		display: flex;

		flex-direction: column;

		&.expand {
			flex-grow: 1;
		}

	}

	.content-main-row {
		display: flex;
		flex-basis: 100%;
	}

	.content-main-box.expand {
		flex-grow: 1;
	}

	.content-main-box-header {

		padding: 1px 8px 0 8px;

		font: 10px Verdana;
		font-weight: 700;

		background-color: #cbccba;

        /*
        border-width: 1px 0 0 0;
        border-style: solid;

        border-top-color: #fffffe;
        // border-bottom-color: #999977;
        */

	}

	.content-main-box-body {

		padding: 8px;

		// background-color: #f3f4e1;

        /*
        border: 1px solid #fffffe;
        border-right-color: #999977;
        border-bottom-color: #999977;

		&.columns {

			display: flex;

			.column {

			}

		}
		*/

	}

</style>