.input {
	background-image: $input-background;
}

.layout-left {
	background-image: $layout-left-background;
}

.layout-content {
	background-image: $layout-content-background;
}

.layout-right {
	background-image: $layout-right-background;
}

/* tabs */
.content-tabs {

	a {
		
		background: $tab-color;
		border-color: $tab-border;

		&.active {
			background: $tab-active-color;
			border-color: $tab-active-border;
		}

	}

}

.content-panel {
	background-image: $content-panel-background;
	// background-position: center center;
	border-top-color: $content-panel-highlight;
	border-bottom-color: $content-panel-shadow;
	border-left-color: #fff;
	border-right-color: #336600;
}

.content-tabs-padding {
	background: $tab-active-color;
}

/* content */
.content-main {
	background-color: $content-background;
	border-left-color: $content-highlight;
	border-right-color: $content-shadow;
}

.content-main-column {
	border-left: 1px solid $content-highlight;
	border-right: 1px solid $content-shadow;
}

.content-main-box {
	border-top: 1px solid $content-highlight;
	border-bottom: 1px solid $content-shadow;
}

.content-main-header {
	background: $content-header-color;
}