.input {
	background: #fff;
	border: 2px inset;
}

.layout-left {
	background: #cdcb98;
	box-shadow: inset 8px 0px 8px -8px #000, inset -8px 0px 8px -8px #000;
}

.layout-right {
	background: #cdcb98;
	box-shadow: inset 8px 0px 8px -8px #000;
}

.layout-content {
	background: #edeedc;
}

.layout-menu {
	background: linear-gradient( #a8a62c, #989619 60%, #868313 61%, #a5a428);
	border-top: 1px solid #49490d;
	border-bottom: 1px solid #494a0c;
}

.menu-item {

	&.active {

		background: linear-gradient( #cbc95a, #bab72f 50%, #aaa82d 51%, #c9c64b );

		border-left: 1px solid #5d5e14;
		border-right: 1px solid #5d5e14;

	}

}

.submenu {

	background: linear-gradient(#c8c54e 85%, #78792b);

	border-bottom: 1px solid #5d6d02;

	a {
		
		&.active {
			background: linear-gradient(#94972e, #b3b369 15%);
			border: 1px solid #556600;
			border-bottom-color: #8d970d;
		}

	}

}

$tab-color: #a9aa88;
$tab-active-color: #dadbb9;
$tab-border: #8b8c41;
$tab-active-border: $tab-border;

$block-highlight: #fffffe;
$block-shadow: #999a5c;

$content-panel-color: #dcddcb;

$content-header-color: #dadcc9;

$content-highlight: #fffffe;
$content-shadow: #b3b48f;

.content-tabs {

	a {
		
		background: $tab-color;
		border-color: $tab-border;

		&.active {
			background: $tab-active-color;
			border-color: $tab-active-border;
		}

	}

}

.content-tabs-padding {
	background: #dadab8;
	border-top-color: $block-highlight;
	border-bottom-color: $block-shadow;
}

.content-panel {
	background: $content-panel-color;
	border-top-color: $block-highlight;
	border-bottom-color: $block-shadow;
	border-left-color: $block-highlight;
	border-right-color: $tab-border;
}

.content-panel-toggle {

	background: #cdccc7;
	border-color: #999b86;

	&.active {
		background: #a0dcff;
		border-color: #4a5b55;
	}

}

.content-main {

	background: #f3f4e1;
	border-left-color: $content-highlight;
	border-right-color: $content-shadow;

}

.content-main-column:not(:first-child){
	border-left: 1px solid $content-highlight;
}

.content-main-column:not(:last-child){
	border-right: 1px solid $content-shadow;
}

.content-main-box {
	border-top: 1px solid $content-highlight;
	border-bottom: 1px solid $content-shadow;
}

.content-main-header {
	background: $content-header-color;
}

.profile-details-field {
	border-color: #dedfcd;
}