$layout-right-background: url(/static.apberget.se/images/themes/summer/right.png);
$layout-content-background: url(/static.apberget.se/images/themes/summer/bg.png);
$layout-left-background: url(/static.apberget.se/images/themes/summer/left.png);

$input-background: url(/static.apberget.se/images/themes/summer/box.png);

$content-header-color: #ffdd00;

$content-background: #ffffdd;
$content-highlight: #fff;
$content-shadow: #cccc66;

$tab-color: #66ddff;
$tab-border: #003366;
$tab-active-color: #ffdd00;
$tab-active-border: #666633;

$content-panel-background: url(/static.apberget.se/images/themes/summer/box_bar.png); // linear-gradient(#a2ba2e, #80941a);
$content-panel-highlight: #cccc66;
$content-panel-shadow: #336600;

.input {
	border: 2px solid #669933;
}

.layout-menu {
	background: linear-gradient( #acc531, #859b18 60%, #7b8e1c 61%, #91a918);
	border-top: 1px solid #556600;
	border-bottom: 1px solid #556600;
}

.layout-right {
	background-color: #afcc7a;
}

.menu-item {

	&.active {

		background: linear-gradient( #fdfd3f, #c7c71c 50%);

		border-left: 1px solid #556600;
		border-right: 1px solid #556600;

	}

	/*
	&:hover {
		background: linear-gradient( #B7D138, #859b18 60%, #7b8e1c 61%, #91a918);
		border-bottom: 1px solid #556600;
	}
	*/

}

.submenu {

	background: linear-gradient(#c7c71c, #d8d81e);

	border-bottom: 1px solid #5d6d02;

	a {
		
		&.active {
			background: linear-gradient(#c7c71c, #dada1e);
			border: 1px solid #556600;
			border-bottom-color: #8d970d;
		}

	}

}

/*
.content-wrapper {
	border-bottom-color: #666633;
}
*/

.content-tabs-padding {
	border-top-color: #fff;
	border-bottom-color: #557744;
}

.content-panel-toggle {

	background: linear-gradient(#aec733, #89a017 60%, #7b8e1d 61%, #899f1a);

	border-color: #005555;

	&.active {
		background: linear-gradient(#ffd500, #d8b500 60%, #bd9d00 61%, #dbb600);
		border-color: #000;
	}

}