$layout-right-background: url(/static.apberget.se/images/themes/wood/right.jpg);
$layout-content-background: url(/static.apberget.se/images/themes/wood/bg.jpg);
$layout-left-background: url(/static.apberget.se/images/themes/wood/left.jpg);

$input-background: url(/static.apberget.se/images/themes/wood/box.jpg);

$tab-color: #996;
$tab-border: #663;

$tab-active-color: #693;
$tab-active-border: #642;

$content-panel-background: #f00;
$content-panel-highlight: #f00;
$content-panel-shadow: #f00;
$content-background: url(/static.apberget.se/images/themes/wood/bg.jpg);
$content-highlight: #db9;
$content-shadow: #663;
$content-header-color: #693;