<template>
	<div id="app">
		<!--<img src="./assets/logo.png">-->
		<router-view/>
	</div>
</template>

<script>

	// import ApbergetWeather from '@/components/ApbergetWeather'

	export default {
		name: 'App'
	}

</script>

<style>

#app {

	height: 100%;

}

</style>
