* {
	box-sizing: border-box;
	font-smooth: never;
	-webkit-font-smoothing: none;
	/* text-shadow: 0 0 0; */
}

html {
	height: 100%;
}

body {

	margin: 0;
	padding: 0;

	height: 100%;

	font-family: Arial;
	font-size: 12px;

	// background: #000;

}

a {
	text-decoration: none;
}

p {
	padding: 4px 0px;
	margin: 0px;
	line-height: 14px;
}

table {

	th, td {
		text-align: left;
	}

}

ul {
	margin: 0;
	padding: 0 8px;
}

ol {
	margin: 0;
	padding: 0 16px;
}