.button-icon {
	
	width: 16px;
	height: 16px;

	border: none;

	cursor: pointer;

	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;

	vertical-align: middle;

	&.refresh {
		background-image: url(../assets/static.apberget.se/images/panel/reload.png);
		/* animation: spin 1s infinite linear; */
	}

	&.search {
		background-image: url(../assets/static.apberget.se/images/icons/search.png);
	}

	&.add {
		background-image: url(../assets/static.apberget.se/images/icons/add.gif);
	}

}

.icon-hover {
	
	display: inline-block;
	
	width: 14px;
	height: 14px;

	vertical-align: -2px;

	&.edit {
		background: url(../assets/static.apberget.se/images/icons/rollovers/edit.png);
	}

	&.togb {
		width: 24px;
		background: url(../assets/static.apberget.se/images/icons/rollovers/togb.png);
	}

	&.history {
		background: url(../assets/static.apberget.se/images/icons/rollovers/history.png);
	}

	&.album {
		background: url(../assets/static.apberget.se/images/icons/rollovers/album.png);
	}

	&.diary {
		background: url(../assets/static.apberget.se/images/icons/rollovers/post.png);
	}

	&.screen {
		background: url(../assets/static.apberget.se/images/icons/rollovers/screen.png);
	}

	&.openlink {
		background: url(../assets/static.apberget.se/images/icons/rollovers/openlink.png);
	}

}

a:hover > .icon-hover {
	background-position: 0 -20px;
}

a:active > .icon-hover {
	background-position: 0 -40px;
}

button.old, .button.old {

	color: #000;

	font-family: Arial;

	font-size: 12px;

	padding: 2px 9px;

	background: linear-gradient(#fffffd, #f0f1ec);

	border-width: 1px;
	border-color: #1c2465;
	border-radius: 3px;
	border-style: solid;

	box-shadow: inset -1px -2px 3px #dad1bf, 0 1px 1px #eff5e3;

	cursor: pointer;

	// font-smooth: never;
	// -webkit-font-smoothing : none;

	&:hover {
		background: linear-gradient(#fffffd, #D8ECF3);
	}

	&:active {
		box-shadow: inset 1px 2px 3px #dad1bf, 0 1px 1px #eff5e3;
	}

}