.chat-container {

	padding: 5px;

	p {

		margin: 1px 0px 0px 0px;
		padding: 1px 0px 1px 2px;

		font: 10px arial;

		&.admin {
			background-color: #f30;
			padding: 2px;
			font-size: 12px;
			font-weight: bold;
		}

		&.newest {
			background-color: #ff3;
		}

		&.newer {
			background-color: #ee5;
		}

		&.new {
			background-color: #dd7;
		}

		&.old {
			opacity: 0.7;
		}

		&.older {
			opacity: 0.5;
		}

		&.oldest {
			opacity: 0.3;
		}

	}

	&.enabled {

		.chat-tools, .chat-history {
			display: block;
		}

		.chat-rules {
			display: none;
		}

	}

}

.chat-tools {
	display: none;
}

.chat-history {
	display: none;
}

.chat-form input {
	width: 160px;
}

.chat-rules {
	padding: 2px 9px 0 9px;
}