.content-box {

	padding: 10px;

}

.content-tabs {
	
	display: flex;
	padding-left: 16px;

	a {
		
		display: block;
		color: #000;
		
		font-family: verdana;
		font-size: 10px;
		font-weight: 700;

		padding: 3px 8px 0 8px;
		margin-right: 3px;

		border-style: solid;
		border-width: 1px 1px 0 1px;

		&.active {
			padding: 3px 8px 0 8px;
			margin-top: 2px;
			margin-bottom: -2px;
		}

	}

}

.content-tabs-padding {
	height: 4px;
	border-width: 1px 0 1px 0;
	border-style: solid;
}

.content-wrapper {
	border: 1px solid #666633;
}

.content-panel {

	display: flex;
	
	align-items: center;

	border-width: 1px;
	border-style: solid;

}

.content-panel-user {
	padding: 8px;
}

.content-panel-bio {
	flex-grow: 1;
	text-align: center;

	color: #cc0000;
	font-family: Georgia, cursive;
	font-weight: 700;
	font-style: italic;

}

.content-panel-tools {
	padding: 0 8px;
}

.content-panel-toggles {
	padding: 8px;
	display: flex;
}

.content-panel-toggle {
	
	color: #000;
	
	padding: 3px 5px;

	font-family: verdana;
	font-size: 10px;
	font-weight: 700;

	border-width: 1px;
	border-style: solid;
	border-left-width: 0;
	
	&.active {
		border-left-width: 1px;
	}

	img {
		vertical-align: -3px;
	}

}

.content-main {

	display: flex;
	flex-direction: row;

	// border-width: 0 1px 0 1px;
	// border-style: solid;

	box-shadow: 0 25px 15px -20px rgba(0,0,0,.7);

	&.wrap {
		flex-wrap: wrap;
	}

}

.content-main-column {

	// flex-grow: 1;

	display: flex;

	flex-direction: column;

	&.expand {
		flex-grow: 1;
	}

}

.content-main-row {
	display: flex;
	flex-basis: 100%;
}

.content-main-box.expand {
	flex-grow: 1;
}

.content-main-header {

	padding: 1px 8px 0 8px;
	
	font-family: verdana;
	font-size: 10px;
	font-weight: 700;

}

.content-main-content {
	padding: 8px;
}

.content-main-content.columns {
	display: flex;
}

.content-main-content.columns .column {

}