.friends-list {
	padding: 0 6px;
}

.friends-display {
	font-size: 10px;
}

.friends-items {
	display: flex;
	flex-wrap: wrap;
}

.friends-items a {
	display: block;
	margin: 0 1px 1px 0;
}

.friends-items a img {
	display: block;
	vertical-align: bottom;
}

.friends-tools {

	padding: 20px;

}