.guestbook-entry {
	padding: 5px 0;
	display: flex;
	flex-wrap: wrap;
}

.guestbook-entry:not(:last-child){
	border-bottom: 1px solid #70a44f;
}

.guestbook-entry-info {
	width: 160px;
}

.guestbook-entry-info .user-avatar {
	float: left;
	margin-right: 5px;
}

.guestbook-entry-info .time {
	font: 10px verdana;
}

.guestbook-entry-body {
	flex-grow: 1;
}

.guestbook-entry-tools {
	width: 100%;
	text-align: right;
}