.layout {
	
	display: flex;
	flex-direction: column;
	
	height: 100%;

	/*
	width: 1024px;
	height: 768px;
	overflow-y: scroll;
	*/

	// div { }

}

.layout-weather {
	height: 90px;
	flex-shrink: 0;
	position: relative;
	overflow: hidden;
	/* border-bottom: 1px solid #49490d; */
}

.layout-menu {
	height: 20px;
	/* background-image: url(./static.apberget.se/images/themes/0/menu.png); */	
}

.layout-main {
	display: flex;
	flex-grow: 1;
	max-height: calc( 100vh - 110px );
}

.layout-left {
	width: 190px;
	flex-shrink: 0;
	overflow: hidden;
}

.layout-content {
	width: 600px;
	flex-shrink: 0;
	// overflow-y: scroll;
	overflow-y: auto;
	box-shadow: inset 0 5px 10px rgba(0,0,0,.3);
}

.layout-right {
	flex-grow: 1;
	background-repeat: repeat-y;
	padding: 8px;
	overflow: hidden;
}