.menu-container {

	display: flex;

	align-items: center;

	width: 790px;

}

.menu-item {

	display: flex;
	/* align-items: center; */
	flex-shrink: 0;
	
	color: #fff;

	font-family: verdana;
	font-size: 12px;
	font-weight: 700;

	text-shadow: 1px 1px 0 #442211;
	
	padding: 0 8px;

	height: 19px;

	&.city {
		flex-basis: 190px;
	}

	&.logout {
		margin-left: auto;
	}

	&.active {

		padding: 0 7px;

		text-shadow: none;

	}

}




.submenu {

	padding: 3px 6px 0 6px;
	display: flex;

	a {
		color: #000;

		font-family: verdana;
		font-size: 10px;
		font-weight: 700;

		padding: 0 9px;
		display: block;

		&.active {
			margin-bottom: -1px;
		}

	}

}