.panel {
	display: flex;
	padding: 0 3px;
}

.panel-icons {
	display: flex;
}

.panel-icon {

	width: 28px;
	height: 28px;

	cursor: pointer;

	background-position: center center;
	background-repeat: no-repeat;

	&.messages { background-image: url(/static.apberget.se/images/panel/messages.png); }
	&.messages.highlight { background-image: url(/static.apberget.se/images/panel/messages_hi.png); }

	&.guestbook { background-image: url(/static.apberget.se/images/panel/guestbook.png); }
	&.guestbook.highlight { background-image: url(/static.apberget.se/images/panel/guestbook_hi.png); }

	&.friends { background-image: url(/static.apberget.se/images/panel/friends.png); }
	&.friends.highlight { background-image: url(/static.apberget.se/images/panel/friends_hi.png); }

	&.activities { background-image: url(/static.apberget.se/images/panel/activities.png); }
	&.activities.highlight { background-image: url(/static.apberget.se/images/panel/activities_hi.png); }

	&.groups { background-image: url(/static.apberget.se/images/panel/groups.png); }
	&.groups.highlight { background-image: url(/static.apberget.se/images/panel/groups_hi.png); }

}

.panel-icon .badge {

	display: block;

	background: #cd0e16;
	border-radius: 32px;
	
	font-family: arial;
	font-size: 9px;

	text-align: center;
	color: #fff;

	width: 15px;
	height: 15px;

	line-height: 14px;

	position: relative;
	top: 12px;
	left: 14px;

}

.panel-refresh {
	flex-grow: 1;
	text-align: right;
	padding: 6px 6px;
}