.profile-avatar {
	text-align: center;
	width: 65px;
}

.profile-points {
	margin-top: 1px;
}

.profile-points-value {
	font-family: Georgia, cursive;
	font-size: 16px;
	font-style: italic;
	color: #cc0000;
}

.profile-points-label {
	font-size: 10px;
	color: #333333;
}

.profile-details {
	margin-left: 18px;
	flex-grow: 1;
}

.profile-details-field {

	padding: 4px 2px;

	border-bottom: 1px solid #55bb33;

}