.top-screen {
	position: absolute;
	left: 796px;
	top: 6px;
	background: url(/static.apberget.se/images/top/screen.png);
	width: 220px;
	height: 84px;
}

.screen-display {
	
	color: #fff;

	background: url(/static.apberget.se/images/screen/theme0.gif);

	width: 212px;
	height: 70px;

	position: absolute;

	left: 4px;
	top: 4px;

	padding: 4px;

	font-size: 11px;
	line-height: 13px;
	// letter-spacing: -0.2ex;
	// word-spacing: -0.5ex;

	/* font-family: 'courier new'; */

}

.screen-avatar {

}

.screen-avatar img {
	border: 1px solid #000;
}

.screen-name {
	position: absolute;
	left: 40px;
	top: 4px;
}

.screen-name a {
	color: #fff;
	font-weight: 700;
	text-decoration: underline;
}

.screen-text {
	position: absolute;
	left: 40px;
	top: 18px;
	height: 52px;
	overflow: hidden;

	font-weight: 700;
}

.screen-new {
	background: url(/static.apberget.se/images/screen/new.gif);
	width: 45px;
	height: 6px;
	position: absolute;
	top: 78px;
	left: 34px;
	cursor: pointer;
}

.screen-history {
	background: url(/static.apberget.se/images/screen/log.gif);
	width: 49px;
	height: 6px;
	position: absolute;
	top: 78px;
	left: 136px;
	cursor: pointer;
}