.layout-weather.day {
	background: linear-gradient(#cce4ff, #fdfeea);

	.weather-hut {
		background-image: url(/static.apberget.se/images/palms/hut_day.png);
	}

}

.layout-weather.night {

	background-color: linear-gradient(#303161, #6265ce);

	background-image: url(/static.apberget.se/images/palms/night.png);

	.weather-hut {
		background-image: url(/static.apberget.se/images/palms/hut_night.png);
		background-color: #f00;
	}

	.weather-clouds {
		opacity: .2;
	}

}

.weather-palms {
	
	background-image: url(/static.apberget.se/images/palms/palms.png);	

	position: absolute;

	top: 0px;
	left: 0px;

	width: 750px;
	height: 90px;

}

.weather-clouds {
	
	position: absolute;

	top: 0px;
	left: 0px;

	width: 100%;
	height: 90px;

	animation: clouds 90s linear infinite;

	&.light {
		background-image: url(/static.apberget.se/images/weather/clouds_light.png);
	}

	&.medium {
		background-image: url(/static.apberget.se/images/weather/clouds_medium.png);
		background-color: #f00;
	}

}

.weather-hut {

	position: absolute;
	top: 64px;
	left: 732px;
	width: 25px;
	height: 26px;
	/* background-image: url(static.apberget.se/images/palms/igloo_night.png); */

}

.logo {
	background: url(/static.apberget.se/images/logo/15p.png);
	// background: url(/static.apberget.se/images/logo/0m.png);
}