$static-path: '/assets/static.apberget.se';

@import "animations";

@import "base";

ul.nobullets li {
	list-style-type: none;	
}

ul.notice, ol.notice {
	margin: 4px 0px 4px 0px;
	padding: 4px 8px;
	border-style: solid;
	border-width: 2px;

	border-color: #69c;;
}

li, ul.notice li, ol.notice li {
	margin-left: 1em;
	padding: 1px 0px;
}

ul, ul.notice li, ul.error li {
	list-style-type: square;
	line-height: 1.2em;
	font-weight: normal;
}

ul.error, ol.error {
	margin: 4px 0px 4px 0px;
	padding: 4px 8px;
	border-style: solid;
	border-width: 2px;
	font-weight: bold;
}

ul.error li, ol.error li {
	color: #000;
	margin-left: 1em;
	padding: 1px 0px;
}


@import "input";

@import "layout";

@import "weather";

@import "panel";

/*
.template {
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(/static.apberget.se/template.png);
	width: 1280px;
	height: 802px;
	opacity: 0.6;
}
*/

.left-status {
	padding: 2px 0 0 8px;

	.time {

		font-family: verdana;
		font-size: 9px;

		float: right;
		padding-top: 2px;
		padding-right: 8px;

	}

}

@import "buttons";

@import "friends";

.account-search {
	display: flex;
	align-items: center;
}

.account-balance {
	color: #333333;
	text-align: center;
	padding: 0 20px;
	font-size: 10px;
}

.account-balance-value {
	color: #0000ff;
}

.search-form {
	font-size: 14px;
}

.search-form input {
	width: 65px;
	vertical-align: 0;
}

@import "menu";

.logo {
		
	width: 170px;
	height: 43px;

	position: absolute;

	left: 9px;
	top: 50px;

	cursor: pointer;

	.version {

		font-family: arial;
		font-size: 10px;

		position: absolute;
		top: 22px; 
		left: 170px;

	}

}

@import "content";

@import "screen";

@import "chat";

a.user {

	&:hover {
		text-decoration: underline;
	}

	img {

		box-sizing: unset;
		
		border: solid 1px #000;
		
		vertical-align: text-top;
		
		width: 9px;
		height: 12px;
		
	}

}

.user-avatar {
	border: 1px solid #000;
}

@import "profile";

.unavailable {
	color: #333322;
}

@import "guestbook";

.banner-right {
	
}

.banner-top {

	position: absolute;
	left: 195px;
	top: 25px;

}

button.old, .button.old {

	color: #000;

	font-family: Arial;

	font-size: 12px;

	padding: 2px 9px;

	background: linear-gradient(#fffffd, #f0f1ec);

	border-width: 1px;
	border-color: #1c2465;
	border-radius: 3px;
	border-style: solid;

	box-shadow: inset -1px -2px 3px #dad1bf, 0 1px 1px #eff5e3;

	cursor: pointer;

	// font-smooth: never;
	// -webkit-font-smoothing : none;

	&:hover {
		background: linear-gradient(#fffffd, #D8ECF3);
	}

	&:active {
		box-shadow: inset 1px 2px 3px #dad1bf, 0 1px 1px #eff5e3;
	}

}

.link-roll {
	background: url(/static.apberget.se/images/themes/12/icons/link_roll.png);
	width: 14px;
	height: 14px;
	display: inline-block;
	vertical-align: -3px;
}

.index-wrapper {
	width: 565px;
	margin: 48px auto;

}

.index-wrapper .content-main {
	// border: 1px solid #336600;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.list-table {

	width: 100%;

	border-collapse: collapse;

	tr {
		border-bottom: 1px solid #55bb33;
	}

	td {
		padding: 3px;
	}

}

.stuff {
	cursor: pointer;
	margin: 0 6px;
}

.stuff-container {
	display: flex;
}

body.index {
	background: url(/static.apberget.se/images/themes/0/index_bg.png);
}

// @import "themes/default";
@import "themes/summer";
// @import "themes/wood";

@import "themes/base";